.DS_Store
.idea/*
/GdsParser/bin/*
/GdsParser/obj/*
/CompositionRootLayer/bin/*
/CompositionRootLayer/obj/*
/CompositionRootLayerTest/bin/*
/CompositionRootLayerTest/obj/*
/GdsParser/out/*
/InfrastuctureLayer/bin/*
/InfrastuctureLayer/obj/*
/InfstructureLayerTests/bin/*
/InfstructureLayerTests/obj/*
/WebApiLaeyr/bin/*
/WebApiLaeyr/obj/*
/DataAccessLayer/bin/*
/DataAccessLayer/obj/*
mono_crash*
/out